@page "/"
@using Plundi.Core.Services

<main class="overflow-auto z-0 grow">
    <div class="p-6 mx-auto max-w-screen-2xl">
        <div class="flex flex-col gap-8 p-4">
            <div class="flex flex-col gap-4 items-stretch">
                <span class="text-xs text-center text-slate-500">
                    select your level
                </span>
                <div class="grid grid-cols-10 gap-2">
                    @for (var i = 1; i <= 10; i++)
                    {
                        var characterLevel = i;
                        <button class="py-1 px-2 h-8 font-mono rounded border-slate-950 border shadow focus:outline-none @(GlobalState.CharacterLevel == characterLevel ? "bg-sky-600 hover:bg-sky-500" : "bg-slate-900 hover:bg-slate-950")"
                                @onclick="() => { GlobalState.CharacterLevel = characterLevel; }">
                            @characterLevel
                        </button>
                    }
                </div>
            </div>
            <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
                <div class="flex flex-col gap-4 items-center p-4 rounded border shadow md:p-6 border-slate-950 bg-slate-900">
                    <div class="flex gap-2 items-baseline md:gap-4">
                        <i class="text-2xl md:text-4xl fa-solid fa-hand"></i>
                        <span class="font-mono text-2xl md:text-4xl">@Math.Round(CharacterStatsProvider.CalculateMeleeAttack(GlobalState.CharacterLevel))</span>
                    </div>
                    <span class="text-xs text-slate-500">melee damage</span>
                </div>
                <div class="flex flex-col gap-4 items-center p-4 rounded border shadow md:p-6 border-slate-950 bg-slate-900">
                    <div class="flex gap-2 items-baseline md:gap-4">
                        <i class="text-2xl text-red-500 md:text-4xl fa-solid fa-heart"></i>
                        <span class="font-mono text-2xl md:text-4xl">@CharacterStatsProvider.GetHitPoints(GlobalState.CharacterLevel)</span>
                    </div>
                    <span class="text-xs text-slate-500">hit points</span>
                </div>
                <div class="flex flex-col gap-4 items-center p-4 rounded border shadow md:p-6 border-slate-950 bg-slate-900">
                    <div class="flex gap-2 items-baseline md:gap-4">
                        <i class="text-2xl text-yellow-500 md:text-4xl fa-solid fa-bolt"></i>
                        <span class="font-mono text-2xl md:text-4xl">@CharacterStatsProvider.GetAttackPower(GlobalState.CharacterLevel)</span>
                    </div>
                    <span class="text-xs text-slate-500">attack power</span>
                </div>
            </div>
            <div class="flex flex-col gap-4 items-stretch">
                <div class="grid grid-cols-[1fr,auto,1fr] items-baseline">
                    <span class="col-start-2 text-xs text-center text-slate-500">
                        damage abilities
                    </span>
                    <div class="flex col-start-3 justify-end">
                        <div class="flex">
                            <button class="text-xs py-1 px-2 h-8 rounded-l border-l border-y border-slate-950 @(_damageAbilitiesInCompactView ? "bg-slate-950" : "bg-slate-800")"
                                    @onclick="() => _damageAbilitiesInCompactView = !_damageAbilitiesInCompactView">
                                compact
                            </button>
                            <button class="text-xs py-1 px-2 h-8 rounded-r border-r border-y border-slate-950 @(_damageAbilitiesInCompactView ? "bg-slate-800" : "bg-slate-950")"
                                    @onclick="() => _damageAbilitiesInCompactView = !_damageAbilitiesInCompactView">
                                detailed
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grid gap-4 items-start xl:grid-cols-2">
                    @foreach (var ability in GlobalState.DamageAbilities)
                    {
                        <AbilityCard Ability="ability"
                                     OnMoveUpClicked="async _ => await GlobalState.MoveDamageAbilityUpAsync(ability)"
                                     OnMoveDownClicked="async _ => await GlobalState.MoveDamageAbilityDownAsync(ability)"
                                     CompactView="_damageAbilitiesInCompactView"/>
                    }
                </div>
                <div class="grid grid-cols-[1fr,auto,1fr] items-baseline">
                    <span class="col-start-2 text-xs text-center text-slate-500">
                        utility abilities
                    </span>
                    <div class="flex col-start-3 justify-end">
                        <div class="flex">
                            <button class="text-xs py-1 px-2 h-8 rounded-l border-l border-y border-slate-950 @(_utilityAbilitiesInCompactView ? "bg-slate-950" : "bg-slate-800")"
                                    @onclick="() => _utilityAbilitiesInCompactView = !_utilityAbilitiesInCompactView">
                                compact
                            </button>
                            <button class="text-xs py-1 px-2 h-8 rounded-r border-r border-y border-slate-950 @(_utilityAbilitiesInCompactView ? "bg-slate-800" : "bg-slate-950")"
                                    @onclick="() => _utilityAbilitiesInCompactView = !_utilityAbilitiesInCompactView">
                                detailed
                            </button>
                        </div>
                    </div>
                </div>
                <div class="grid gap-4 xl:grid-cols-2">
                    @foreach (var ability in GlobalState.UtilityAbilities)
                    {
                        <AbilityCard Ability="ability"
                                     OnMoveUpClicked="async _ => await GlobalState.MoveUtilityAbilityUpAsync(ability)"
                                     OnMoveDownClicked="async _ => await GlobalState.MoveUtilityAbilityDownAsync(ability)"
                                     CompactView="_utilityAbilitiesInCompactView"/>
                    }
                </div>
            </div>
        </div>
    </div>
</main>