@page "/"

<div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4 items-stretch">
        <span class="text-xl font-light">
            Configuration
        </span>
        <div class="flex flex-col gap-4">
            <div class="grid gap-2 md:grid-cols-[auto,1fr] md:gap-4 items-baseline">
                <span class="font-light">Your level</span>
                <div class="grid grid-cols-10 shadow grow">
                    @for (var i = 1; i <= 10; i++)
                    {
                        var characterLevel = i;
                        <button class="p-1 font-mono border-slate-950 border-y border-l @(_characterLevel == characterLevel ? "font-bold text-slate-900 bg-sky-600 hover:bg-sky-500" : "bg-slate-900 hover:bg-slate-950") @(characterLevel == 1 ? "rounded-l" : characterLevel == 10 ? "border-r rounded-r" : "")"
                                @onclick="() => { _characterLevel = characterLevel; }">
                            @characterLevel
                        </button>
                    }
                </div>
                <span class="mt-4 font-light md:mt-0">Set all rarities</span>
                <div class="grid grid-cols-4 shadow grow">
                    <button class="p-1 text-white rounded-l border-l bg-slate-900 border-y border-slate-950 hover:bg-slate-950"
                            @onclick="() => SetAllAbilityRarities(AbilityRarity.Common)">
                        Common
                    </button>
                    <button class="p-1 text-emerald-400 border-l bg-slate-900 border-y border-slate-950 hover:bg-slate-950"
                            @onclick="() => SetAllAbilityRarities(AbilityRarity.Uncommon)">
                        Uncommon
                    </button>
                    <button class="p-1 border-l text-sky-400 bg-slate-900 border-y border-slate-950 hover:bg-slate-950"
                            @onclick="() => SetAllAbilityRarities(AbilityRarity.Rare)">
                        Rare
                    </button>
                    <button class="p-1 text-purple-400 rounded-r border bg-slate-900 border-slate-950 hover:bg-slate-950"
                            @onclick="() => SetAllAbilityRarities(AbilityRarity.Epic)">
                        Epic
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 items stretch">
        <span class="text-xl font-light">
            Character stats
        </span>
        <div class="grid grid-cols-1 gap-4 sm:grid-cols-3">
            <div class="flex flex-col gap-4 items-center p-4 rounded border shadow md:p-6 bg-slate-900 border-slate-950">
                <div class="flex gap-2 items-baseline md:gap-4">
                    <i class="text-2xl text-white md:text-4xl fa-solid fa-hand"></i>
                    <span class="font-mono text-2xl md:text-4xl">@Math.Round(CharacterStatsProvider.CalculateMeleeAttack(_characterLevel))</span>
                </div>
                <span class="text-xs text-slate-500">melee damage</span>
            </div>
            <div class="flex flex-col gap-4 items-center p-4 rounded border shadow md:p-6 bg-slate-900 border-slate-950">
                <div class="flex gap-2 items-baseline md:gap-4">
                    <i class="text-2xl text-red-500 md:text-4xl fa-solid fa-heart"></i>
                    <span class="font-mono text-2xl md:text-4xl">@CharacterStatsProvider.GetHitPoints(_characterLevel)</span>
                </div>
                <span class="text-xs text-slate-500">hit points</span>
            </div>
            <div class="flex flex-col gap-4 items-center p-4 rounded border shadow md:p-6 bg-slate-900 border-slate-950">
                <div class="flex gap-2 items-baseline md:gap-4">
                    <i class="text-2xl text-yellow-500 md:text-4xl fa-solid fa-bolt"></i>
                    <span class="font-mono text-2xl md:text-4xl">@CharacterStatsProvider.GetAttackPower(_characterLevel)</span>
                </div>
                <span class="text-xs text-slate-500">attack power</span>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <div class="flex justify-between items-center">
            <span class="text-xl font-light">
                Damage abilities
            </span>
            <div class="flex">
                <button class="text-xs py-1 px-2 h-8 rounded-l border-l border-y border-slate-950 @(_displayDamageAbilitiesInCompactView ? "bg-slate-950" : "bg-slate-800")"
                        @onclick="() => _displayDamageAbilitiesInCompactView = !_displayDamageAbilitiesInCompactView">
                    Compact
                </button>
                <button class="text-xs py-1 px-2 h-8 rounded-r border-r border-y border-slate-950 @(_displayDamageAbilitiesInCompactView ? "bg-slate-800" : "bg-slate-950")"
                        @onclick="() => _displayDamageAbilitiesInCompactView = !_displayDamageAbilitiesInCompactView">
                    Detailed
                </button>
            </div>
        </div>
        <CascadingValue Value="_characterLevel" Name="CharacterLevel">
            <div class="grid gap-4 lg:grid-cols-2 @(_displayDamageAbilitiesInCompactView ? "2xl:grid-cols-3" : "")">
                <CascadingValue Value="_displayDamageAbilitiesInCompactView" Name="DisplayInCompactView">
                    @foreach (var ability in _damageAbilities.Select((x, i) => (Value: x, Index: i + 1)))
                    {
                        <AbilityCard Ability="ability.Value"
                                     Position="ability.Index"
                                     OnMoveUpClicked="async _ => await MoveDamageAbilityAsync(ability.Value, MoveDirection.Up)"
                                     OnMoveDownClicked="async _ => await MoveDamageAbilityAsync(ability.Value, MoveDirection.Down)"/>
                    }
                </CascadingValue>
            </div>
            <div class="flex justify-between items-center mt-4">
                <span class="text-xl font-light">
                    Utility abilities
                </span>
                <div class="flex">
                    <button class="text-xs py-1 px-2 h-8 rounded-l border-l border-y border-slate-950 @(_displayUtilityAbilitiesInCompactView ? "bg-slate-950" : "bg-slate-800")"
                            @onclick="() => _displayUtilityAbilitiesInCompactView = !_displayUtilityAbilitiesInCompactView">
                        Compact
                    </button>
                    <button class="text-xs py-1 px-2 h-8 rounded-r border-r border-y border-slate-950 @(_displayUtilityAbilitiesInCompactView ? "bg-slate-800" : "bg-slate-950")"
                            @onclick="() => _displayUtilityAbilitiesInCompactView = !_displayUtilityAbilitiesInCompactView">
                        Detailed
                    </button>
                </div>
            </div>
            <div class="grid gap-4 lg:grid-cols-2 @(_displayUtilityAbilitiesInCompactView ? "2xl:grid-cols-3" : "")">
                <CascadingValue Value="_displayUtilityAbilitiesInCompactView" Name="DisplayInCompactView">
                    @foreach (var ability in _utilityAbilities.Select((x, i) => (Value: x, Index: i + 1)))
                    {
                        <AbilityCard Ability="ability.Value"
                                     Position="ability.Index"
                                     OnMoveUpClicked="async _ => await MoveUtilityAbilityAsync(ability.Value, MoveDirection.Up)"
                                     OnMoveDownClicked="async _ => await MoveUtilityAbilityAsync(ability.Value, MoveDirection.Down)"/>
                    }
                </CascadingValue>
            </div>
        </CascadingValue>
    </div>
    <div class="flex justify-center">
        <button class="py-1 px-4 text-red-500 rounded border-2 border-red-500 hover:font-bold hover:text-black hover:uppercase hover:bg-red-500"
                @onclick="@(() => NavigationManager.NavigateTo("https://rickroll.it/rickroll.mp4"))">
            Don't press me!
        </button>
    </div>
</div>