@page "/scaling"

<SelectAbilityModal @ref="_selectAbilityModal"
                    OnAbilitySelected="AddAbilityForComparisonAsync"/>

<div class="flex flex-col gap-8">
    <div class="flex flex-col gap-4">
        <span class="text-xl font-light">
            Configuration
        </span>
        <div class="flex flex-col gap-4 items-stretch">
            <div class="grid gap-2 md:grid-cols-[auto,1fr] md:gap-4 items-baseline">
                <span class="font-light">Your level</span>
                <div class="grid grid-cols-10 shadow grow">
                    @for (var i = 1; i <= 10; i++)
                    {
                        var characterLevel = i;
                        <button class="p-1 font-mono border-slate-950 border-y border-l @(_characterLevel == characterLevel ? "font-bold text-slate-900 bg-sky-600 hover:bg-sky-500" : "bg-slate-900 hover:bg-slate-950") @(characterLevel switch { 1 => "rounded-l", 10 => "border-r rounded-r", _ => "" })"
                                @onclick="async () => { await SetCharacterLevelAsync(characterLevel); }">
                            @characterLevel
                        </button>
                    }
                </div>
                <span class="font-light">Enemy level</span>
                <div class="grid grid-cols-10 shadow grow">
                    @for (var i = 1; i <= 10; i++)
                    {
                        var enemyLevel = i;
                        <button class="p-1 font-mono border-slate-950 border-y border-l @(_enemyLevel == enemyLevel ? "font-bold text-slate-900 bg-red-500 hover:bg-red-400" : "bg-slate-900 hover:bg-slate-950") @(enemyLevel switch { 1 => "rounded-l", 10 => "border-r rounded-r", _ => "" })"
                                @onclick="async () => { await SetEnemyLevelAsync(enemyLevel); }">
                            @enemyLevel
                        </button>
                    }
                </div>
                <span class="self-center mt-4 font-light md:mt-0">Abilities to compare</span>
                <div class="flex flex-wrap gap-4 items-stretch p-2 rounded border shadow bg-slate-900 border-slate-950">
                    @foreach (var ability in _abilitiesToCompare)
                    {
                        <div class="w-14 h-14 bg-clip-border bg-cover rounded border shadow cursor-pointer border-slate-950 hover:border-slate-500"
                             style="background-image: url('img/abilities/@ability.ImagePath')">
                            <button class="p-2 w-full h-full text-xs text-center text-white rounded opacity-0 hover:opacity-50 bg-slate-900"
                                    @onclick="async () => await RemoveAbilityFromComparisonAsync(ability)">
                                <i class="fa-solid fa-x"></i>
                            </button>
                        </div>
                    }
                    <button class="p-2 w-14 h-14 text-center rounded border-2 border-dashed text-slate-500 border-slate-500 hover:bg-slate-700"
                            @onclick="() => _selectAbilityModal?.Open()">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <span class="mt-4 font-light md:mt-0">Line visualization</span>
                <div class="grid grid-cols-2 shadow grow">
                    <button class="p-1 border-slate-950 border-y border-l rounded-l @(!_smoothLines ? "text-slate-900 bg-sky-600 hover:bg-sky-500  font-bold" : "bg-slate-900 hover:bg-slate-950")"
                            @onclick="async () => { await SetSmoothLinesAsync(false); }">
                        Real
                    </button>
                    <button class="p-1 border-slate-950 border rounded-r @(_smoothLines ? "text-slate-900 bg-sky-600 hover:bg-sky-500 font-bold" : "bg-slate-900 hover:bg-slate-950")"
                            @onclick="async () => { await SetSmoothLinesAsync(true); }">
                        Smooth
                    </button>
                </div>
                <span class="mt-4 font-light md:mt-0">Base Time-to-Kill on</span>
                <div class="grid grid-cols-2 shadow grow">
                    <button class="p-1 border-slate-950 border-y border-l rounded-l @(_baseTimeToKillOnDps ? "text-slate-900 bg-sky-600 hover:bg-sky-500  font-bold" : "bg-slate-900 hover:bg-slate-950")"
                            @onclick="async () => { await SetBaseTimeToKillOnDpsAsync(true); }">
                        DPS
                    </button>
                    <button class="p-1 border-slate-950 border rounded-r @(!_baseTimeToKillOnDps ? "text-slate-900 bg-sky-600 hover:bg-sky-500 font-bold" : "bg-slate-900 hover:bg-slate-950")"
                            @onclick="async () => { await SetBaseTimeToKillOnDpsAsync(false); }">
                        Simulation
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <span class="text-xl font-light">
            Ability scaling
        </span>
        <div class="grid gap-4 lg:grid-cols-2">
            <AbilitiesDamageComparisonChart @ref="_abilitiesDamageComparisonChart"
                                            CharacterLevel="_characterLevel"
                                            Abilities="_abilitiesToCompare"
                                            SmoothLines="_smoothLines"/>
            <AbilitiesDpsComparisonChart @ref="_abilitiesDpsComparisonChart"
                                         CharacterLevel="_characterLevel"
                                         Abilities="_abilitiesToCompare"
                                         SmoothLines="_smoothLines"/>
            <AbilitiesCooldownComparisonChart @ref="_abilitiesCooldownComparisonChart"
                                              CharacterLevel="_characterLevel"
                                              Abilities="_abilitiesToCompare"/>
            <AbilitiesTimeToKillComparisonChart @ref="_abilitiesTimeToKillComparisonChart"
                                                CharacterLevel="_characterLevel"
                                                TargetLevel="_enemyLevel"
                                                BaseTimeToKillOnDps="_baseTimeToKillOnDps"
                                                Abilities="_abilitiesToCompare"
                                                SmoothLines="_smoothLines"/>
        </div>
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <span class="text-xl font-light">
            Character scaling
        </span>
        <CharacterStatsChart @ref="_characterStatsChart"
                             SmoothLines="_smoothLines"/>
        <PowerLevelDisplay />
    </div>
    <div class="mt-4 text-xs text-slate-500">
        <p>
            The DPS is calculated by dividing the damage an ability deals by its "real" cooldown, which is the sum of its cooldown and cast time.
            When it comes to Toxic Smackerel, it does extra damage to poisoned targets. However, hitting an already poisoned target is extremely rare, so we model this by assuming 3 consecutive hits, starting without the bonus damage (the bonus damage will be added to the 2nd and 3rd hit), and then divide the total by 3x the "real" cooldown.
        </p>
        <p class="mt-2">
            The DPS based Time-to-Kill is determined by dividing an enemy's hit points (based on their level) by an ability's maximal DPS. While this method might seem flawed since abilities don't deal consistent damage, it's still a useful metric, albeit imperfect.
            It's akin to attacking a player with just one ability, timed perfectly with each cooldown, without any healing on their part.
            And yes, Toxic Smackerel is given a bit of special consideration. After the first hit, which poisons the target, all subsequent hits deal bonus damage. Only during the first "real" cooldown is the DPS considered lower, after which the maximum DPS is used for calculations.
        </p>
        <p class="mt-2">
            For the simulated Time-to-Kill the ability is used on a simulated target until the target dies.
        </p>
    </div>
</div>